<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>

  <appSettings>
    <!--通讯端口-->
    <add key="Port" value="79"/>
    <!--通道名(随意)-->
    <add key="ChannelName" value="SHHOPCProxyPro"/>
  </appSettings>
  
</configuration>